* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.question {
  padding: 20px;
  background-color: brown;
  display: flex;
  flex-direction: column;
  width: 430px;
  color: wheat;
  border: 1px solid black;
  border-radius: 20px;
}

.answer {
  background-color: rgb(100, 65, 65);
  display: flex;
  flex-direction: column;
  width: 430px;
  color: rgb(252, 252, 252);
  border: 1px solid black;
  border-radius: 20px;
}

span {
  font-weight: bold;
}
